<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('landing/build/img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('landing/build/img/favicon-16x16.png') }}">
    <title>Цифровой базар</title>
    {% block stylesheets %}
        <link href="{{ asset('landing/css/styles.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

    {% block javascript_header %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ asset('landing/js/scripts.js') }}"></script>
    {% endblock %}
</head>

{{ header | raw }}

<div class="index-promo">
    <div class="container">
        <div class="index-promo-body">
            <div class="index-promo-content">
                <h1 class="index-promo-title">Колорит цифрового мира</h1>
                <div class="index-promo-desc">Софт. Развлечения. Сервисы</div>
                <a href="#contact" class="index-promo-btn btn">Подробнее</a>
            </div>
        </div>
    </div>
</div>
<div class="index-section index-about">
    <div class="container">
        <div class="index-about-body">
            <div class="index-about-content">
                <div class="index-title">О нас</div>
                <div class="index-about-desc"><b>Цифровой Базар</b> – дистрибьютор цифрового контента (различных услуг, программного обеспечения, подписок) с помощью облачной платформы - легкой в настройке, быстрой в интеграции и простой в управлении.</div>
            </div>
            <div class="index-about-info">
                <div class="index-about-info-text">Мы предлагаем <b>готовое цифровое решение</b> для компаний с любой инфраструктурой из любой отрасли бизнеса.</div>
            </div>
        </div>
    </div>
</div>
<div class="index-section index-advantages">
    <div class="container">
        <div class="index-advantages-body">
            <div class="index-advantages-img">
                <img src="{{ asset('landing/build/img/advantages-bg-3.svg') }}" alt="">
            </div>
            <div class="index-advantages-content">
                <div class="index-title">Чем мы лучше</div>
                <div class="index-advantages-row flex-row">
                    <div class="index-advantages-col flex-row-item">
                        <div class="index-advantage-title">Гибкость и масштабируемость</div>
                        <div class="index-advantage-desc">Адаптивность платформы к любой инфраструктуре. Мы предоставим удобный способ продажи электронных ключей, подписок и сервисов для розничных сетей, операторов связи, интернет-магазинов.</div>
                    </div>
                    <div class="index-advantages-col flex-row-item">
                        <div class="index-advantage-title">Интеграция</div>
                        <div class="index-advantage-desc">Мы предоставляем возможность интеграции не только классических точек продаж, но и интернет-магазинов, биллинговых систем, личных кабинетов, а также программ лояльности наших клиентов.</div>
                    </div>
                    <div class="index-advantages-col flex-row-item">
                        <div class="index-advantage-title">Развитие бизнеса</div>
                        <div class="index-advantage-desc">Мы готовы помочь с готовыми решениями, оптимальными для вашего бизнеса - пакеты услуг, продуктов, различные бандлы, тарифы и многое другое.</div>
                    </div>
                    <div class="index-advantages-col flex-row-item">
                        <div class="index-advantage-title">Продвижение</div>
                        <div class="index-advantage-desc">Мы предложим эффективные способы продвижения продуктов, оформления мест продаж, мерчендайзинга. Также, мы организуем онлайн обучения продавцов и предоставляем программы мотивации (по согласованию с нашими клиентами).</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="index-section index-products">
    <div class="container">
        <div class="index-title">Наши продукты</div>
        <div class="index-products-row flex-row">
            <div class="index-products-col flex-row-item">
                <div class="index-product">
                    <div class="index-product-icon">
                        <img src="landing/build/img/package_games.svg" alt="">
                    </div>
                    <div class="index-product-title">Игры</div>
                    <div class="index-product-info">
                        <div class="index-product-title">Игры</div>
                        <ul class="index-product-info-list">
                            <li>Игры для PC
                            <li>Игры для консолей/приставок
                            <li>Мобильные игры
                            <li>Игровая валюта и подписки
                        </ul>
                        <a href="#contact" class="index-product-btn btn btn-block">Узнать цены</a>
                    </div>
                </div>
            </div>
            <div class="index-products-col flex-row-item">
                <div class="index-product">
                    <div class="index-product-icon">
                        <img src="landing/build/img/package_soft.svg" alt="">
                    </div>
                    <div class="index-product-title">Программное обеспечение</div>
                    <div class="index-product-info">
                        <div class="index-product-title">Программное обеспечение</div>
                        <ul class="index-product-info-list">
                            <li>Операционные системы
                            <li>Офисные приложения
                            <li>Антивирусы
                            <li>Видеоредакторы
                            <li>Словари и переводчики
                        </ul>
                        <a href="#contact" class="index-product-btn btn btn-block">Узнать цены</a>
                    </div>
                </div>
            </div>
            <div class="index-products-col flex-row-item">
                <div class="index-product">
                    <div class="index-product-icon">
                        <img src="landing/build/img/package_media.svg" alt="">
                    </div>
                    <div class="index-product-title">Мультимедиа</div>
                    <div class="index-product-info">
                        <div class="index-product-title">Мультимедиа</div>
                        <ul class="index-product-info-list">
                            <li>Онлайн кинотеатры
                            <li>Онлайн музыка
                            <li>Электронные книги
                            <li>Аудиокниги
                        </ul>
                        <a href="#contact" class="index-product-btn btn btn-block">Узнать цены</a>
                    </div>
                </div>
            </div>
            <div class="index-products-col flex-row-item">
                <div class="index-product">
                    <div class="index-product-icon">
                        <img src="landing/build/img/package_education.svg" alt="">
                    </div>
                    <div class="index-product-title">Обучение</div>
                    <div class="index-product-info">
                        <div class="index-product-title">Обучение</div>
                        <ul class="index-product-info-list">
                            <li>Изучение иностранных языков
                            <li>Обучение вождению
                            <li>Спортивные курсы
                            <li>Курсы университетов
                        </ul>
                        <a href="#contact" class="index-product-btn btn btn-block">Узнать цены</a>
                    </div>
                </div>
            </div>
            <div class="index-products-col flex-row-item">
                <div class="index-product">
                    <div class="index-product-icon">
                        <img src="landing/build/img/package_gift_cards.svg" alt="">
                    </div>
                    <div class="index-product-title">Подарочные<br> карты</div>
                    <div class="index-product-info">
                        <div class="index-product-title">Подарочные<br> карты</div>
                        <ul class="index-product-info-list">
                            <li>Магазины бытовой техники
                            <li>Доставки продуктов питания из магазинов
                            <li>Салоны красоты
                            <li>Путешествия
                            <li>Рестораны и кафе
                        </ul>
                        <a href="#contact" class="index-product-btn btn btn-block">Узнать цены</a>
                    </div>
                </div>
            </div>
            <div class="index-products-col flex-row-item">
                <div class="index-product">
                    <div class="index-product-icon">
                        <img src="landing/build/img/package_service.svg" alt="">
                    </div>
                    <div class="index-product-title">Сервисы</div>
                    <div class="index-product-info">
                        <div class="index-product-title">Сервисы</div>
                        <ul class="index-product-info-list">
                            <li>Персональная ИТ служба
                            <li>Доставка продуктов с рецептами
                            <li>Службы Такси
                            <li>Каршеринг
                        </ul>
                        <a href="#contact" class="index-product-btn btn btn-block">Узнать цены</a>
                    </div>
                </div>
            </div>
            <div class="index-products-col flex-row-item">
                <div class="index-product">
                    <div class="index-product-icon">
                        <img src="landing/build/img/package_insurance.svg" alt="">
                    </div>
                    <div class="index-product-title">Страховки</div>
                    <div class="index-product-info">
                        <div class="index-product-title">Страховки</div>
                        <ul class="index-product-info-list">
                            <li>Страхование экрана мобильного устройства
                            <li>Защита покупки
                            <li>Страхование для путешественников
                            <li>Страхование имущества и здоровья
                            <li>Мигрантский ДМС
                        </ul>
                        <a href="#contact" class="index-product-btn btn btn-block">Узнать цены</a>
                    </div>
                </div>
            </div>
            <div class="index-products-col flex-row-item">
                <div class="index-product">
                    <div class="index-product-icon">
                        <img src="landing/build/img/package_health.svg" alt="">
                    </div>
                    <div class="index-product-title">Здоровье</div>
                    <div class="index-product-info">
                        <div class="index-product-title">Здоровье</div>
                        <ul class="index-product-info-list">
                            <li>
                                Телемедицина:
                                <ul>
                                    <li>Терапевт
                                    <li>Педиатр
                                    <li>Диетолог
                                    <li>Косметолог
                                </ul>
                            </li>
                        </ul>
                        <a href="#contact" class="index-product-btn btn btn-block">Узнать цены</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="index-section index-form" id="contact">
    <div class="container">
        <div class="index-form-body">
            <div class="index-form-img">
                <img src="/landing/build/img/contacts-bg.svg" alt="">
            </div>
            <form id="contacts-form" method="POST" class="index-form-content">
                <div class="index-title">Связаться с нами</div>
                <div class="index-form-desc">Хотите стать партнером, нужна дополнительная информация или у Вас есть предложение?</div>
                <label class="form-block">
                    <input type="text" class="index-form-input" name="name" id="formName" placeholder="Имя*" required>
                </label>
                <label class="form-block">
                    <input type="email" class="index-form-input" name="email" id="formEmail" placeholder="Email*" required>
                </label>
                <label class="form-block">
                    <input type="tel" class="index-form-input" name="phone" id="formPhone" placeholder="+7 (495) 123-45-67">
                </label>
                <label class="form-block">
                    <input type="text" class="index-form-input" name="question" id="formQuestion" placeholder="Тема обращения">
                </label>
                <div class="index-form-submit">
                    <div class="index-form-info">* Обязательные к заполнению поля</div>
                    <button type="submit" class="btn submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{ footer | raw }}

</body>
</html>